.hero {
  display: block;
  color: $secondary-accent-color;
  text-align: center;
  font-weight: 400;
  background-color: $dark-background-color;
  padding: 0;

  &__overlay {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    padding-top: 200px;
    background-position: center;
  }
  &__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    padding: 10px 32px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $secondary-accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 145px;
    outline: none;
    align-items: center;
  }
}


fcasfasfasfasadas

    max-width: 1600px;

    

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/mobile.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/background/mobile@2x.jpg");
    }
    @media screen and (min-width: $tablet-width) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/tablet.jpg);
      @media screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/background/tablet@2x.jpg");
      }
    }
    @media screen and (min-width: $desktop-width) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop.jpg);
      @media screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/background/desktop@2x.jpg");
      }
    }
    @media screen and (min-width: $desktop-width) {
      height: 600px;
      padding-top: 200px;
      min-width: 480px;
      max-width: 1600px;
    }
  }