.command {
  padding: 94px 0px;
  background: $lite-background-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    padding-bottom: 30px;

    background-color: $secondary-accent-color;
  }
  &__meteo {
    display: block;
    border: 1px solid transparent;
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__position {
    color: $secondary-text-color;
  }
}

готовая с маржинами .command {
  background: $lite-background-color;
  padding: 60px 0px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: $desktop-width) {
    padding: 94px 0px;
    line-height: 1.19;
  }
  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
      margin-left: -30px;
    }
    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-width) {
      margin-right: 15px;
      margin-left: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: $desktop-width) {
      padding-bottom: 30px;
      width: 270px;
      margin: 0;
    }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 0px 0px 4px 4px;

    padding-bottom: 34px;

    background-color: $secondary-accent-color;
    margin-bottom: 30px;
    margin-right: 0;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__meteo {
    border: 1px solid transparent;
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    margin-bottom: 16px;
  }
  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__position {
    color: $secondary-text-color;
  }
}
