.activity {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: block;
    padding-bottom: 94px;
  }
  &__sub-title {
    letter-spacing: 0.03em;
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop-width) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    display: inline;
  }

  &__overly-image {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  &__overly-title {
    position: absolute;
    top: 50%;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14px;
    text-transform: uppercase;
    color: $secondary-accent-color;
  }
}
