.address-list {
  color: $secondary-accent-color;
  margin-bottom: 60px;
  line-height: 1.7;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0px;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 9px;
    }
    margin-bottom: 8px;
  }
  &__link {
    color: $footer-contacts;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: none;
  }
}
