.address-list {
  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-bottom: 0;
  }

  color: $secondary-accent-color;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 60px;

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 9px;
    }
    margin-bottom: 8px;
  }
  &__link {
    color: $footer-contacts;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: none;
  }
}
