.advantages {
  padding: 94px 0px;

  &__list {
    display: flex;
  }
  &__item {
    width: 270px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__icon {
    content: "";
    width: 270px;
    height: 120px;
    display: flex;
    border-radius: 4px;
    background-color: $lite-background-color;
    margin-bottom: 30px;
    background-image: url(../images/symbol-defs.svg#);
    align-items: center;
    justify-content: center;
  }
  &__title-cart {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__text-cart {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;
  }
}
