.backdrop {
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	padding: 93px 15px 94px 15px;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity $animation-duration $animation-type;
	@media screen and (min-width: $desktop-width) {
		right: 0;
		bottom: 0;
	}
}
.backdrop.hidden {
	opacity: 0;
	pointer-events: none;
	display: none;
}
