.buttons-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__button {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    outline: transparent;
    cursor: pointer;
    color: $primery-text-color;
    background-color: $lite-background-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    transition-property: color, background-color, box-shadow;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__button:hover,
  &__button:focus {
    color: $secondary-accent-color;
    background-color: $accent-color;
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
