.card-set {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__item:not(:nth-child(2n)) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop-width) {
      margin-right: 0px;
    }
  }
  &__item:nth-last-child(-n + 3) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 0px;
    }
  }

  &__item:not(:nth-child(3n)) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__item:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }
  &__item:hover {
    transform: translateY(0);
  }
  &__item {
    display: block;
  }

  &__link {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    display: block;

    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
    @media screen and (min-width: $tablet-width) {
      width: 354px;
    }
    @media screen and (min-width: $desktop-width) {
      width: 370px;
    }
  }

  &__link:focus,
  &__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
    outline: none;
  }
  &__link:focus .card-set__overlay,
  &__link:hover .card-set__overlay {
    transform: translateY(0);
  }
  &__image {
    position: relative;
    overflow: hidden;
  }
  &__img {
    width: 100%;
  }
  &__overlay {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__overlay-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    color: $secondary-accent-color;
    padding: 77px 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    @media screen and (min-width: $tablet-width) {
      padding: 49px 24px;
    }
    @media screen and (min-width: $desktop-width) {
      padding: 63px 24px;
    }
  }
  &__text-box {
    padding: 20px 24px;
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primery-text-color;
  }
  &__text {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
  }
}
