.client {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: $desktop-width) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;

		@media screen and (min-width: $desktop-width) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		margin: 15px;
		margin-bottom: 15px;
		width: calc((100% - 2 * 30px) / 2);

		@media screen and (min-width: $tablet-width) {
			width: 226px;
			width: calc((100% - 3 * 30px) / 3);
		}
		@media screen and (min-width: $desktop-width) {
			width: 170px;
			width: calc((100% - 6 * 30px) / 6);
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
		color: $icon-color;
		border-radius: 4px;
		border: 1px solid $icon-color;
		transition-property: color, border-color;
		transition-duration: $animation-duration;

		transition-timing-function: $animation-type;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
			cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__link:focus,
	&__link:hover {
		color: $accent-color;
		border: 1px solid $accent-color;
		outline: none;
	}
	&__icon {
		fill: currentcolor;
	}
}
