.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__list {
    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-wrap: nowrap;
    }
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
  }
  &__item {
    margin-bottom: 30px;
    width: 210px;
    height: 90px;
    margin-right: 15px;
    margin-left: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
    @media screen and (min-width: $tablet-width) {
      flex-basis: calc((100% - 6 * 15px) / 3);
      width: 226px;
    }
    @media screen and (min-width: $desktop-width) {
      width: 170px;
      height: 90px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $icon-color;
    border-radius: 4px;
    border: 1px solid $icon-color;
    transition-property: color, border-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
  &__icon {
    fill: currentcolor;
  }
}
