.client {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    @media screen and (min-width: $desktop-width) {
      display: flex;
    }
    margin: 0;
    padding: 0;
  }
  &__item {
    width: 170px;
    height: 90px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    @media screen and (min-width: $desktop-width) {
      display: flex;
    }
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $icon-color;
    border-radius: 4px;
    border: 1px solid $icon-color;
    transition-property: color, border-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
  &__icon {
    fill: currentcolor;
  }
}
