.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  &__item {
    width: 210px;
    height: 90px;
    @media screen and (min-width: $desktop-width) {
      width: 170px;
      height: 90px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $icon-color;
    border-radius: 4px;
    border: 1px solid $icon-color;
    transition-property: color, border-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
  &__icon {
    fill: currentcolor;
  }
  &__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  &__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}
