.client {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $desktop-width) {
      flex-wrap: nowrap;
    }
  }
  &__item {
    width: 210px;
    height: 90px;
    @media screen and (min-width: $desktop-width) {
      width: 170px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: $tablet-width) {
      width: 226px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__item:nth-child(2n + 1) {
    margin-right: 30px;
    @media screen and (min-width: $tablet-width) {
      margin-right: 0;
    }
    @media screen and (min-width: $desktop-width) {
      margin-right: 0px;
    }
  }
  &__item:nth-child(2n) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 0px;
    }
  }
  &__item:not(:nth-child(3n)) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 30px;
    }
  }
  &__item:nth-child(3) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  &__item:nth-last-child(-n + 3) {
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 0px;
    }
  }
  &__item:nth-last-child(n + 3) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 0px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $icon-color;
    border-radius: 4px;
    border: 1px solid $icon-color;
    transition-property: color, border-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
  &__icon {
    fill: currentcolor;
  }
}
