.command {
  @media screen and (min-width: $desktop-width) {
    padding: 94px 0px;
  }
  padding: 60px 0px;
  background: $lite-background-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  &__list {
    @media screen and (min-width: $desktop-width) {
      display: flex;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
  &__item {
    @media screen and (min-width: $desktop-width) {
    }
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;

    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: $secondary-accent-color;
  }
  &__meteo {
    display: block;
    border: 1px solid transparent;
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__position {
    color: $secondary-text-color;
  }
}
