.command {
  background: $lite-background-color;
  padding: 60px 0px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: $desktop-width) {
    padding: 94px 0px;
    line-height: 1.19;
  }
  &__item {
    @media screen and (min-width: $desktop-width) {
      width: 270px;
    }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 0px 0px 4px 4px;

    padding-bottom: 30px;

    background-color: $secondary-accent-color;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
    margin-bottom: 30px;
  }
}
