.command {
  background: $lite-background-color;
  padding: 60px 0px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  min-width: 480px;
  @media screen and (min-width: $desktop-width) {
    padding: 94px 0px;
    line-height: 1.19;
  }
  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__item {
    @media screen and (min-width: $desktop-width) {
      padding-bottom: 30px;
    }
    @media screen and (min-width: $tablet-width) {
      width: 354px;
    }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: 0px 0px 4px 4px;
    background-color: $secondary-accent-color;
    padding-bottom: 24px;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
  &__item:not(:nth-child(2n + 2)) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 30px;
    }
  }
  &__item:nth-child(-n + 2) {
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
  &__item:nth-child(-n + 2) {
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 0px;
    }
  }
  &__meteo {
    border: 1px solid transparent;
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    margin-bottom: 16px;
  }
  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__position {
    color: $secondary-text-color;
  }
}
