.contakt-list {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
    padding: 21px 0;
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
    margin-left: auto;
    padding: 0;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: none;
  }

  &__item + &__item {
    @media screen and (min-width: $desktop-width) {
      margin-left: 50px;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop-width) {
      padding: 32px 0px;
      margin-bottom: 0px;
    }
  }
  &__link {
    color: $secondary-text-color;
    align-items: center;
    display: flex;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }
  &__icon {
    @media screen and (min-width: $tablet-width) {
      margin-right: 8px;
      fill: currentColor;
    }
    @media screen and (min-width: $desktop-width) {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
