.contaner {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
  @media screen and (min-width: $tablet-width) {
    width: 738px;
  }
  @media screen and (min-width: $desktop-width) {
    width: 1200px;
  }
}
