.footer {
  background-color: $dark-background-color;
  text-decoration: none;
  padding: 60px 0px;

  &__contaner {
    text-align: center;
    @media screen and (min-width: $desktop-width) {
      display: flex;
      align-items: baseline;
      text-align: left;
    }
  }

  &__title {
    @media screen and (min-width: $desktop-width) {
      text-align: left;
    }
    color: $secondary-accent-color;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.14;
  }
  &__social {
    fill: $secondary-accent-color;
  }
}
