.hero {
  display: block;
  color: $secondary-accent-color;
  text-align: center;
  font-weight: 400;
  background-color: $dark-background-color;
  padding: 0;
  min-width: 480px;

  &__overlay {
    @media screen and (min-width: $desktop-width) {
      height: 600px;
      padding-top: 200px;
    }

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    padding-top: 118px;
    background-position: center;
    padding-bottom: 118px;
  }
  &__title {
    @media screen and (min-width: $desktop-width) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    @media screen and (min-width: $tablet-width) {
      display: block;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    margin-bottom: 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
  }
  &__button {
    padding: 10px 32px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $secondary-accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 145px;
    outline: none;
    border: none;
    align-items: center;
  }
}
