.master-social {
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		display: block;
		justify-content: center;
		align-items: center;
	}
	&__item:not(:last-child) {
		margin-right: 10px;
	}
	&__icon {
		width: 20px;
		height: 20px;
	}
	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-size: contain;
		background-color: rgba(255, 255, 255, 0.1);
		fill: $icon-color;
		border-radius: 50%;
		width: 44px;
		height: 44px;
		transition-property: background-color;
		transition-duration: $animation-duration;
		transition-timing-function: $animation-type;
	}
	&__link:focus,
	&__link:hover {
		background-color: $accent-color;
		fill: $secondary-accent-color;
		outline: none;
	}
	&__footer {
		@media screen and (min-width: $tablet-width) {
			margin-left: 165px;
		}
		@media screen and (min-width: $desktop-width) {
			margin-left: 70px;
		}
		margin-bottom: 60px;
	}
}
