.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__contaner {
    display: flex;
    align-items: center;
  }
  &__button {
    background-color: $secondary-accent-color;
    margin-left: auto;
    border: none;
    cursor: pointer;
  }
}
