.page-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: $logo-head-color;
  font-family: $sec-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  @media screen and (min-width: $tablet-width) {
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
  &--start {
    color: $accent-color;
  }
  &__footer {
    @media screen and (min-width: $desktop-width) {
      font-size: 26px;
      line-height: 1.2;
    }
    color: $secondary-accent-color;
    font-family: $sec-font-family;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 20px;
    display: block;
  }
}
