.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__contaner {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  &--portfolio {
    border: 1px solid #ececec;
  }
  &__button {
    background-color: $secondary-accent-color;
    margin-left: auto;
    border: none;
    cursor: pointer;
    padding: 8px 12px;

    align-items: center;
    display: block;

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
}
