.portfolio {
	padding-bottom: 60px;
	padding-top: 60px;
	@media screen and (min-width: $tablet-width) {
		width: 100%;
	}
	@media screen and (min-width: $desktop-width) {
		padding-bottom: 94px;
		padding-top: 94px;
		display: block;
	}
}
