.portfolio {
  @media screen and (min-width: $desktop-width) {
    padding-bottom: 94px;
    padding-top: 94px;
    display: block;
  }
  min-width: 450px;
  padding-bottom: 60px;
  padding-top: 60px;
}
