h1,
h2,
h3 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin: 0;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	padding-left: 0;
}
body {
	background-color: $secondary-accent-color;
	color: $primery-text-color;
	font-family: $main-font-family;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
