$primery-text-color: #212121;
$dark-background-color: #2f303a;
$lite-background-color: #f5f4fa;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$secondary-accent-color: #ffffff;
$logo-head-color: #000000;
$footer-contacts: rgba(255, 255, 255, 0.6);
$new-background-color: #c4c4c4;
$icon-color: #afb1b8;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: "Roboto", sans-serif;
$sec-font-family: "Raleway", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
